@import '../../vendor/saade/filament-fullcalendar/resources/css/filament-fullcalendar.css';

/* Your custom styles for the FullCalendar widget */
.fc-event {
  background-color: orange;
  color: white;
  border: none;
}

.fc-event:hover {
  background-color: darkorange;
}

/* Your other custom styles for Filament */
@import '../../vendor/filament/forms/dist/module.esm.css';
@import 'tippy.js/dist/tippy.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
